.loader {
  position: fixed;
  display: inline-block;
  width: 5vw;
  height: 5vh;
  top: 86vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 20vw;
}

@media (min-width: 767px) {
  .loader {
    margin-right: 6vw;
  }
}

@media (min-width: 1400px) {
  .loader {
    margin-right: 3vw;
  }
}
