.hits_list {
  font-family: 'Mountains of Christmas', cursive;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}

@media (min-width: 767px) {
  .hits_list {
    padding: 15px 0;
  }
}

@media (min-width: 1400px) {
  .hits_list {
    padding: 20px 0;
  }
}
