.hits_list {
  font-family: 'Mountains of Christmas', cursive;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 60px;
  padding-left: 0;
}

@media (min-width: 767px) {
  .hits_list {
    padding-bottom: 15px;
    padding-top: 70px;
  }
}

@media (min-width: 1400px) {
  .hits_list {
    padding-bottom: 20px;
    padding-top: 90px;
  }
}
