.cast_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
  padding: 0;
  list-style: none;
  font-family: 'Mountains of Christmas', cursive;
  word-wrap: break-word;
}
.cast_item {
  display: inline-block;
  width: 40%;
  height: auto;
  margin-bottom: 10px;
}
.cast_img {
  width: 100px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 1px 15px 10px #373737;
  box-shadow: 0px 1px 15px 10px #373737;
}
.cast_name,
.cast_character {
  font-size: 15px;
  margin-bottom: 8px;
  text-align: center;
}

.cast_name {
  color: yellow;
}
.cast_character {
  color: palevioletred;
}

.cast_error {
  margin-top: 100px;
  color: rgb(255, 251, 251);
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 767px) {
  .cast_item {
    width: 30%;
  }
  .cast_img {
    width: 120px;
    margin-bottom: 12px;
  }
  .cast_name,
  .cast_character {
    font-size: 17px;
    margin-bottom: 12px;
  }
}

@media (min-width: 1400px) {
  .cast_item {
    width: 22%;
  }
  .cast_img {
    width: 150px;
    margin-bottom: 16px;
  }
  .cast_name,
  .cast_character {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
