.detail_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 10px;
}

.detail_btn_wrapper {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100vw;
}

.detail_navigation_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}

.wrapper_description {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.detail_iframe_trailer,
.detail_img_trailer,
.detail_description {
  margin-bottom: 10px;
}

.detail_iframe_trailer,
.detail_img_trailer {
  -webkit-box-shadow: 0px 1px 15px 10px #373737;
  box-shadow: 0px 1px 15px 10px #373737;
}
.detail_img_trailer {
  width: 420px;
  height: 345px;
}

.detail_description {
  color: white;
  width: 420px;
  height: auto;
  padding: 0 15px;
  font-family: 'Mountains of Christmas', cursive;
}

.detail_title,
.detail_data,
.detail_popularity,
.detail_overview,
.detail_genres_list {
  margin: 0;
  margin-bottom: 6px;
}

.detail_title {
  font-size: 20px;
  color: yellow;
}

.detail_data {
  color: yellowgreen;
  font-size: 14px;
}

.detail_popularity {
  font-size: 18px;
}

.detail_overview {
  color: honeydew;
  font-size: 18px;
}

.detail_genres_list {
  display: flex;
  list-style: none;
  font-size: 18px;
  padding: 0;
}

.detail_genres_list_first_item {
  color: honeydew;
}

.detail_genres_list_item,
.detail_genres_list_first_item {
  margin-right: 5px;
}

.detail_error {
  color: rgb(255, 251, 251);
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 767px) {
  .detail_btn_wrapper {
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .detail_wrapper {
    padding: 15px;
  }

  .detail_description {
    padding-top: 50px;
    width: 40%;
  }

  .wrapper_description {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .detail_title,
  .detail_data,
  .detail_popularity,
  .detail_overview,
  .detail_genres_list {
    margin-bottom: 10px;
  }

  .detail_title {
    font-size: 24px;
  }

  .detail_data {
    font-size: 16px;
  }

  .detail_popularity {
    font-size: 20px;
  }

  .detail_overview {
    font-size: 21px;
  }

  .detail_genres_list {
    font-size: 20px;
  }

  .detail_genres_list_item,
  .detail_genres_list_first_item {
    margin-right: 8px;
  }

  .detail_error {
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .detail_btn_wrapper {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .detail_wrapper {
    padding: 15px;
  }

  .detail_title,
  .detail_data,
  .detail_popularity,
  .detail_overview,
  .detail_genres_list {
    margin-bottom: 14px;
  }

  .detail_title {
    font-size: 28px;
  }

  .detail_data {
    font-size: 18px;
  }

  .detail_popularity {
    font-size: 22px;
  }

  .detail_overview {
    font-size: 24px;
  }

  .detail_genres_list {
    font-size: 22px;
  }

  .detail_genres_list_item,
  .detail_genres_list_first_item {
    margin-right: 10px;
  }

  .detail_error {
    font-size: 28px;
  }
}
