.wrapper__button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

@media (min-width: 767px) {
  .wrapper__button {
    padding: 15px 0;
  }
}

@media (min-width: 1400px) {
  .wrapper__button {
    padding: 20px 0;
  }
}
