.wrapper__button {
  background-color: rgb(192, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
div {
  background-color: rgb(241, 181, 212);
}
.wrapper__button {
  background-color: rgb(236, 169, 204);
  width: 80%;
  margin: 0 auto;
  border-radius: 3%;
}
